<div class="container">
  <h1>Books List</h1>
  <ol class="breadcrumb">
    <li class="active">Books</li>
  </ol>
  <hr>
  <div id="container" class="row">
    <div id="books" class="col-sm-8">
    </div>
    <div id="genres" class="col-sm-4">
    </div>
  </div>
</div>
